<h1>New game</h1>
<ul class="list-inline mt-3 mb-3">
  <% @start_time = Time.now%>
  <% @letters.each do |letter| %>
    <li class="list-inline-item text-white bg-primary rounded letters text-center text-justify p-2">
      <%=letter%>
    </li>
  <% end %>

  <form action="/score" method="post" class="mt-3">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="text" name="word" placeholder="word">
    <input type="hidden" name="letters" value=<%= @letters.join %>>
    <input type="hidden" name="start_time" value=<%= @start_time %>>
    <input type="hidden" name="result" value=<%= Time.now - @start_time %>>
    <input type="submit" value="Play!">
  </form>

</ul>
